@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --1-color-modes-colors-border-border-secondary: var(
    --primitives-colors-gray-light-mode-200-duplicate
  );
  --3-spacing-spacing-none: var(--primitives-spacing-0-0px-duplicate);
  --primitives-colors-base-black: rgba(0, 0, 0, 1);
  --primitives-colors-base-transparent: rgba(255, 255, 255, 0);
  --primitives-colors-base-white: rgba(255, 255, 255, 1);
  --primitives-colors-base-white-duplicate: rgba(255, 255, 255, 1);
  --primitives-colors-blue-100: rgba(209, 233, 255, 1);
  --primitives-colors-blue-200: rgba(178, 221, 255, 1);
  --primitives-colors-blue-25: rgba(245, 250, 255, 1);
  --primitives-colors-blue-300: rgba(132, 202, 255, 1);
  --primitives-colors-blue-400: rgba(83, 177, 253, 1);
  --primitives-colors-blue-50: rgba(239, 248, 255, 1);
  --primitives-colors-blue-500: rgba(46, 144, 250, 1);
  --primitives-colors-blue-600: rgba(21, 112, 239, 1);
  --primitives-colors-blue-700: rgba(23, 92, 211, 1);
  --primitives-colors-blue-800: rgba(24, 73, 169, 1);
  --primitives-colors-blue-900: rgba(25, 65, 133, 1);
  --primitives-colors-blue-950: rgba(16, 42, 86, 1);
  --primitives-colors-blue-dark-100: rgba(209, 224, 255, 1);
  --primitives-colors-blue-dark-200: rgba(178, 204, 255, 1);
  --primitives-colors-blue-dark-25: rgba(245, 248, 255, 1);
  --primitives-colors-blue-dark-300: rgba(132, 173, 255, 1);
  --primitives-colors-blue-dark-400: rgba(82, 139, 255, 1);
  --primitives-colors-blue-dark-50: rgba(239, 244, 255, 1);
  --primitives-colors-blue-dark-500: rgba(41, 112, 255, 1);
  --primitives-colors-blue-dark-600: rgba(21, 94, 239, 1);
  --primitives-colors-blue-dark-700: rgba(0, 78, 235, 1);
  --primitives-colors-blue-dark-800: rgba(0, 64, 193, 1);
  --primitives-colors-blue-dark-900: rgba(0, 53, 158, 1);
  --primitives-colors-blue-dark-950: rgba(0, 34, 102, 1);
  --primitives-colors-blue-light-100: rgba(224, 242, 254, 1);
  --primitives-colors-blue-light-200: rgba(185, 230, 254, 1);
  --primitives-colors-blue-light-25: rgba(245, 251, 255, 1);
  --primitives-colors-blue-light-300: rgba(124, 212, 253, 1);
  --primitives-colors-blue-light-400: rgba(54, 191, 250, 1);
  --primitives-colors-blue-light-50: rgba(240, 249, 255, 1);
  --primitives-colors-blue-light-500: rgba(11, 165, 236, 1);
  --primitives-colors-blue-light-600: rgba(0, 134, 201, 1);
  --primitives-colors-blue-light-700: rgba(2, 106, 162, 1);
  --primitives-colors-blue-light-800: rgba(6, 89, 134, 1);
  --primitives-colors-blue-light-900: rgba(11, 74, 111, 1);
  --primitives-colors-blue-light-950: rgba(6, 44, 65, 1);
  --primitives-colors-cyan-100: rgba(207, 249, 254, 1);
  --primitives-colors-cyan-200: rgba(165, 240, 252, 1);
  --primitives-colors-cyan-25: rgba(245, 254, 255, 1);
  --primitives-colors-cyan-300: rgba(103, 227, 249, 1);
  --primitives-colors-cyan-400: rgba(34, 204, 238, 1);
  --primitives-colors-cyan-50: rgba(236, 253, 255, 1);
  --primitives-colors-cyan-500: rgba(6, 174, 212, 1);
  --primitives-colors-cyan-600: rgba(8, 138, 178, 1);
  --primitives-colors-cyan-700: rgba(14, 112, 144, 1);
  --primitives-colors-cyan-800: rgba(21, 91, 117, 1);
  --primitives-colors-cyan-900: rgba(22, 76, 99, 1);
  --primitives-colors-cyan-950: rgba(13, 45, 58, 1);
  --primitives-colors-error-100: rgba(254, 228, 226, 1);
  --primitives-colors-error-200: rgba(254, 205, 202, 1);
  --primitives-colors-error-25: rgba(255, 251, 250, 1);
  --primitives-colors-error-300: rgba(253, 162, 155, 1);
  --primitives-colors-error-400: rgba(249, 112, 102, 1);
  --primitives-colors-error-50: rgba(254, 243, 242, 1);
  --primitives-colors-error-500: rgba(240, 68, 56, 1);
  --primitives-colors-error-600: rgba(217, 45, 32, 1);
  --primitives-colors-error-700: rgba(180, 35, 24, 1);
  --primitives-colors-error-800: rgba(145, 32, 24, 1);
  --primitives-colors-error-900: rgba(122, 39, 26, 1);
  --primitives-colors-error-950: rgba(85, 22, 12, 1);
  --primitives-colors-fuchsia-100: rgba(251, 232, 255, 1);
  --primitives-colors-fuchsia-200: rgba(246, 208, 254, 1);
  --primitives-colors-fuchsia-25: rgba(254, 250, 255, 1);
  --primitives-colors-fuchsia-300: rgba(238, 170, 253, 1);
  --primitives-colors-fuchsia-400: rgba(228, 120, 250, 1);
  --primitives-colors-fuchsia-50: rgba(253, 244, 255, 1);
  --primitives-colors-fuchsia-500: rgba(212, 68, 241, 1);
  --primitives-colors-fuchsia-600: rgba(186, 36, 213, 1);
  --primitives-colors-fuchsia-700: rgba(159, 26, 177, 1);
  --primitives-colors-fuchsia-800: rgba(130, 24, 144, 1);
  --primitives-colors-fuchsia-900: rgba(111, 24, 119, 1);
  --primitives-colors-fuchsia-950: rgba(71, 16, 76, 1);
  --primitives-colors-gray-blue-100: rgba(234, 236, 245, 1);
  --primitives-colors-gray-blue-200: rgba(213, 217, 235, 1);
  --primitives-colors-gray-blue-25: rgba(252, 252, 253, 1);
  --primitives-colors-gray-blue-300: rgba(179, 184, 219, 1);
  --primitives-colors-gray-blue-400: rgba(113, 123, 188, 1);
  --primitives-colors-gray-blue-50: rgba(248, 249, 252, 1);
  --primitives-colors-gray-blue-500: rgba(78, 91, 166, 1);
  --primitives-colors-gray-blue-600: rgba(62, 71, 132, 1);
  --primitives-colors-gray-blue-700: rgba(54, 63, 114, 1);
  --primitives-colors-gray-blue-800: rgba(41, 48, 86, 1);
  --primitives-colors-gray-blue-900: rgba(16, 19, 35, 1);
  --primitives-colors-gray-blue-950: rgba(13, 15, 28, 1);
  --primitives-colors-gray-cool-100: rgba(239, 241, 245, 1);
  --primitives-colors-gray-cool-200: rgba(220, 223, 234, 1);
  --primitives-colors-gray-cool-25: rgba(252, 252, 253, 1);
  --primitives-colors-gray-cool-300: rgba(185, 192, 212, 1);
  --primitives-colors-gray-cool-400: rgba(125, 137, 176, 1);
  --primitives-colors-gray-cool-50: rgba(249, 249, 251, 1);
  --primitives-colors-gray-cool-500: rgba(93, 107, 152, 1);
  --primitives-colors-gray-cool-600: rgba(74, 85, 120, 1);
  --primitives-colors-gray-cool-700: rgba(64, 73, 104, 1);
  --primitives-colors-gray-cool-800: rgba(48, 55, 79, 1);
  --primitives-colors-gray-cool-900: rgba(17, 19, 34, 1);
  --primitives-colors-gray-cool-950: rgba(14, 16, 27, 1);
  --primitives-colors-gray-dark-mode-100: rgba(240, 240, 241, 1);
  --primitives-colors-gray-dark-mode-200: rgba(236, 236, 237, 1);
  --primitives-colors-gray-dark-mode-25: rgba(250, 250, 250, 1);
  --primitives-colors-gray-dark-mode-300: rgba(206, 207, 210, 1);
  --primitives-colors-gray-dark-mode-400: rgba(148, 151, 156, 1);
  --primitives-colors-gray-dark-mode-50: rgba(247, 247, 247, 1);
  --primitives-colors-gray-dark-mode-500: rgba(133, 136, 142, 1);
  --primitives-colors-gray-dark-mode-600: rgba(97, 101, 108, 1);
  --primitives-colors-gray-dark-mode-700: rgba(55, 58, 65, 1);
  --primitives-colors-gray-dark-mode-800: rgba(34, 38, 47, 1);
  --primitives-colors-gray-dark-mode-800-duplicate: rgba(34, 38, 47, 1);
  --primitives-colors-gray-dark-mode-900: rgba(19, 22, 27, 1);
  --primitives-colors-gray-dark-mode-950: rgba(12, 14, 18, 1);
  --primitives-colors-gray-dark-mode-alpha-100: rgba(255, 255, 255, 0.94);
  --primitives-colors-gray-dark-mode-alpha-200: rgba(255, 255, 255, 0.92);
  --primitives-colors-gray-dark-mode-alpha-25: rgba(255, 255, 255, 0.98);
  --primitives-colors-gray-dark-mode-alpha-300: rgba(255, 255, 255, 0.8);
  --primitives-colors-gray-dark-mode-alpha-400: rgba(255, 255, 255, 0.56);
  --primitives-colors-gray-dark-mode-alpha-50: rgba(255, 255, 255, 0.96);
  --primitives-colors-gray-dark-mode-alpha-500: rgba(255, 255, 255, 0.5);
  --primitives-colors-gray-dark-mode-alpha-600: rgba(255, 255, 255, 0.35);
  --primitives-colors-gray-dark-mode-alpha-700: rgba(255, 255, 255, 0.16);
  --primitives-colors-gray-dark-mode-alpha-800: rgba(255, 255, 255, 0.08);
  --primitives-colors-gray-dark-mode-alpha-900: rgba(255, 255, 255, 0.04);
  --primitives-colors-gray-dark-mode-alpha-950: rgba(255, 255, 255, 0);
  --primitives-colors-gray-iron-100: rgba(244, 244, 245, 1);
  --primitives-colors-gray-iron-200: rgba(228, 228, 231, 1);
  --primitives-colors-gray-iron-25: rgba(252, 252, 252, 1);
  --primitives-colors-gray-iron-300: rgba(209, 209, 214, 1);
  --primitives-colors-gray-iron-400: rgba(160, 160, 171, 1);
  --primitives-colors-gray-iron-50: rgba(250, 250, 250, 1);
  --primitives-colors-gray-iron-500: rgba(112, 112, 123, 1);
  --primitives-colors-gray-iron-600: rgba(81, 82, 92, 1);
  --primitives-colors-gray-iron-700: rgba(63, 63, 70, 1);
  --primitives-colors-gray-iron-800: rgba(38, 39, 43, 1);
  --primitives-colors-gray-iron-900: rgba(26, 26, 30, 1);
  --primitives-colors-gray-iron-950: rgba(19, 19, 22, 1);
  --primitives-colors-gray-light-mode-100: rgba(245, 245, 245, 1);
  --primitives-colors-gray-light-mode-200: rgba(233, 234, 235, 1);
  --primitives-colors-gray-light-mode-200-duplicate: rgba(233, 234, 235, 1);
  --primitives-colors-gray-light-mode-25: rgba(253, 253, 253, 1);
  --primitives-colors-gray-light-mode-300: rgba(213, 215, 218, 1);
  --primitives-colors-gray-light-mode-400: rgba(164, 167, 174, 1);
  --primitives-colors-gray-light-mode-50: rgba(250, 250, 250, 1);
  --primitives-colors-gray-light-mode-500: rgba(113, 118, 128, 1);
  --primitives-colors-gray-light-mode-600: rgba(83, 88, 98, 1);
  --primitives-colors-gray-light-mode-700: rgba(65, 70, 81, 1);
  --primitives-colors-gray-light-mode-800: rgba(37, 43, 55, 1);
  --primitives-colors-gray-light-mode-900: rgba(24, 29, 39, 1);
  --primitives-colors-gray-light-mode-950: rgba(10, 13, 18, 1);
  --primitives-colors-gray-modern-100: rgba(238, 242, 246, 1);
  --primitives-colors-gray-modern-200: rgba(227, 232, 239, 1);
  --primitives-colors-gray-modern-25: rgba(252, 252, 253, 1);
  --primitives-colors-gray-modern-300: rgba(205, 213, 223, 1);
  --primitives-colors-gray-modern-400: rgba(154, 164, 178, 1);
  --primitives-colors-gray-modern-50: rgba(248, 250, 252, 1);
  --primitives-colors-gray-modern-500: rgba(105, 117, 134, 1);
  --primitives-colors-gray-modern-600: rgba(75, 85, 101, 1);
  --primitives-colors-gray-modern-700: rgba(54, 65, 82, 1);
  --primitives-colors-gray-modern-800: rgba(32, 41, 57, 1);
  --primitives-colors-gray-modern-900: rgba(18, 25, 38, 1);
  --primitives-colors-gray-modern-950: rgba(13, 18, 28, 1);
  --primitives-colors-gray-neutral-100: rgba(243, 244, 246, 1);
  --primitives-colors-gray-neutral-200: rgba(229, 231, 235, 1);
  --primitives-colors-gray-neutral-25: rgba(252, 252, 253, 1);
  --primitives-colors-gray-neutral-300: rgba(210, 214, 219, 1);
  --primitives-colors-gray-neutral-400: rgba(157, 164, 174, 1);
  --primitives-colors-gray-neutral-50: rgba(249, 250, 251, 1);
  --primitives-colors-gray-neutral-500: rgba(108, 115, 127, 1);
  --primitives-colors-gray-neutral-600: rgba(77, 87, 97, 1);
  --primitives-colors-gray-neutral-700: rgba(56, 66, 80, 1);
  --primitives-colors-gray-neutral-800: rgba(31, 42, 55, 1);
  --primitives-colors-gray-neutral-900: rgba(17, 25, 39, 1);
  --primitives-colors-gray-neutral-950: rgba(13, 18, 28, 1);
  --primitives-colors-gray-true-100: rgba(245, 245, 245, 1);
  --primitives-colors-gray-true-200: rgba(229, 229, 229, 1);
  --primitives-colors-gray-true-25: rgba(252, 252, 252, 1);
  --primitives-colors-gray-true-300: rgba(214, 214, 214, 1);
  --primitives-colors-gray-true-400: rgba(163, 163, 163, 1);
  --primitives-colors-gray-true-50: rgba(247, 247, 247, 1);
  --primitives-colors-gray-true-500: rgba(115, 115, 115, 1);
  --primitives-colors-gray-true-600: rgba(82, 82, 82, 1);
  --primitives-colors-gray-true-700: rgba(66, 66, 66, 1);
  --primitives-colors-gray-true-800: rgba(41, 41, 41, 1);
  --primitives-colors-gray-true-900: rgba(20, 20, 20, 1);
  --primitives-colors-gray-true-950: rgba(15, 15, 15, 1);
  --primitives-colors-gray-warm-100: rgba(245, 245, 244, 1);
  --primitives-colors-gray-warm-200: rgba(231, 229, 228, 1);
  --primitives-colors-gray-warm-25: rgba(253, 253, 252, 1);
  --primitives-colors-gray-warm-25-duplicate: rgba(253, 253, 252, 1);
  --primitives-colors-gray-warm-300: rgba(215, 211, 208, 1);
  --primitives-colors-gray-warm-400: rgba(169, 162, 157, 1);
  --primitives-colors-gray-warm-50: rgba(250, 250, 249, 1);
  --primitives-colors-gray-warm-500: rgba(121, 113, 107, 1);
  --primitives-colors-gray-warm-600: rgba(87, 83, 78, 1);
  --primitives-colors-gray-warm-700: rgba(68, 64, 60, 1);
  --primitives-colors-gray-warm-800: rgba(41, 37, 36, 1);
  --primitives-colors-gray-warm-900: rgba(28, 25, 23, 1);
  --primitives-colors-gray-warm-950: rgba(23, 20, 18, 1);
  --primitives-colors-green-100: rgba(211, 248, 223, 1);
  --primitives-colors-green-200: rgba(170, 240, 196, 1);
  --primitives-colors-green-25: rgba(246, 254, 249, 1);
  --primitives-colors-green-300: rgba(115, 226, 163, 1);
  --primitives-colors-green-400: rgba(60, 203, 127, 1);
  --primitives-colors-green-50: rgba(237, 252, 242, 1);
  --primitives-colors-green-500: rgba(22, 179, 100, 1);
  --primitives-colors-green-600: rgba(9, 146, 80, 1);
  --primitives-colors-green-700: rgba(8, 116, 67, 1);
  --primitives-colors-green-800: rgba(9, 92, 55, 1);
  --primitives-colors-green-900: rgba(8, 76, 46, 1);
  --primitives-colors-green-950: rgba(5, 46, 28, 1);
  --primitives-colors-green-light-100: rgba(227, 251, 204, 1);
  --primitives-colors-green-light-200: rgba(208, 248, 171, 1);
  --primitives-colors-green-light-25: rgba(250, 254, 245, 1);
  --primitives-colors-green-light-300: rgba(166, 239, 103, 1);
  --primitives-colors-green-light-400: rgba(133, 225, 58, 1);
  --primitives-colors-green-light-50: rgba(243, 254, 231, 1);
  --primitives-colors-green-light-500: rgba(102, 198, 28, 1);
  --primitives-colors-green-light-600: rgba(76, 163, 13, 1);
  --primitives-colors-green-light-700: rgba(59, 124, 15, 1);
  --primitives-colors-green-light-800: rgba(50, 98, 18, 1);
  --primitives-colors-green-light-900: rgba(43, 83, 20, 1);
  --primitives-colors-green-light-950: rgba(21, 41, 10, 1);
  --primitives-colors-indigo-100: rgba(224, 234, 255, 1);
  --primitives-colors-indigo-200: rgba(199, 215, 254, 1);
  --primitives-colors-indigo-25: rgba(245, 248, 255, 1);
  --primitives-colors-indigo-300: rgba(164, 188, 253, 1);
  --primitives-colors-indigo-400: rgba(128, 152, 249, 1);
  --primitives-colors-indigo-50: rgba(238, 244, 255, 1);
  --primitives-colors-indigo-500: rgba(97, 114, 243, 1);
  --primitives-colors-indigo-600: rgba(68, 76, 231, 1);
  --primitives-colors-indigo-700: rgba(53, 56, 205, 1);
  --primitives-colors-indigo-800: rgba(45, 49, 166, 1);
  --primitives-colors-indigo-900: rgba(45, 50, 130, 1);
  --primitives-colors-indigo-950: rgba(31, 35, 91, 1);
  --primitives-colors-jakarta-deep-100: rgba(194, 198, 255, 1);
  --primitives-colors-jakarta-deep-200: rgba(168, 174, 255, 1);
  --primitives-colors-jakarta-deep-25: rgba(248, 248, 255, 1);
  --primitives-colors-jakarta-deep-300: rgba(142, 151, 250, 1);
  --primitives-colors-jakarta-deep-400: rgba(116, 128, 227, 1);
  --primitives-colors-jakarta-deep-50: rgba(221, 223, 255, 1);
  --primitives-colors-jakarta-deep-500: rgba(92, 107, 202, 1);
  --primitives-colors-jakarta-deep-600: rgba(68, 86, 175, 1);
  --primitives-colors-jakarta-deep-700: rgba(46, 66, 147, 1);
  --primitives-colors-jakarta-deep-800: rgba(26, 48, 116, 1);
  --primitives-colors-jakarta-deep-900: rgba(12, 31, 83, 1);
  --primitives-colors-jakarta-deep-950: rgba(10, 14, 45, 1);
  --primitives-colors-jakarta-speed-100: rgba(127, 220, 234, 1);
  --primitives-colors-jakarta-speed-200: rgba(94, 197, 211, 1);
  --primitives-colors-jakarta-speed-25: rgba(195, 255, 255, 1);
  --primitives-colors-jakarta-speed-300: rgba(60, 174, 188, 1);
  --primitives-colors-jakarta-speed-400: rgba(8, 150, 165, 1);
  --primitives-colors-jakarta-speed-50: rgba(161, 244, 255, 1);
  --primitives-colors-jakarta-speed-500: rgba(0, 128, 143, 1);
  --primitives-colors-jakarta-speed-600: rgba(0, 105, 119, 1);
  --primitives-colors-jakarta-speed-700: rgba(0, 84, 96, 1);
  --primitives-colors-jakarta-speed-800: rgba(0, 62, 73, 1);
  --primitives-colors-jakarta-speed-900: rgba(0, 42, 50, 1);
  --primitives-colors-jakarta-speed-950: rgba(0, 23, 26, 1);
  --primitives-colors-moss-100: rgba(230, 244, 215, 1);
  --primitives-colors-moss-200: rgba(206, 234, 176, 1);
  --primitives-colors-moss-25: rgba(250, 253, 247, 1);
  --primitives-colors-moss-300: rgba(172, 220, 121, 1);
  --primitives-colors-moss-400: rgba(134, 203, 60, 1);
  --primitives-colors-moss-50: rgba(245, 251, 238, 1);
  --primitives-colors-moss-500: rgba(102, 159, 42, 1);
  --primitives-colors-moss-600: rgba(79, 122, 33, 1);
  --primitives-colors-moss-700: rgba(63, 98, 26, 1);
  --primitives-colors-moss-800: rgba(51, 80, 21, 1);
  --primitives-colors-moss-900: rgba(43, 66, 18, 1);
  --primitives-colors-moss-950: rgba(26, 40, 11, 1);
  --primitives-colors-orange-100: rgba(253, 234, 215, 1);
  --primitives-colors-orange-200: rgba(249, 219, 175, 1);
  --primitives-colors-orange-25: rgba(254, 250, 245, 1);
  --primitives-colors-orange-300: rgba(247, 178, 122, 1);
  --primitives-colors-orange-400: rgba(243, 135, 68, 1);
  --primitives-colors-orange-50: rgba(254, 246, 238, 1);
  --primitives-colors-orange-500: rgba(239, 104, 32, 1);
  --primitives-colors-orange-600: rgba(224, 79, 22, 1);
  --primitives-colors-orange-700: rgba(185, 56, 21, 1);
  --primitives-colors-orange-800: rgba(147, 47, 25, 1);
  --primitives-colors-orange-900: rgba(119, 41, 23, 1);
  --primitives-colors-orange-950: rgba(81, 28, 16, 1);
  --primitives-colors-orange-dark-100: rgba(255, 230, 213, 1);
  --primitives-colors-orange-dark-200: rgba(255, 214, 174, 1);
  --primitives-colors-orange-dark-25: rgba(255, 249, 245, 1);
  --primitives-colors-orange-dark-300: rgba(255, 156, 102, 1);
  --primitives-colors-orange-dark-400: rgba(255, 105, 46, 1);
  --primitives-colors-orange-dark-50: rgba(255, 244, 237, 1);
  --primitives-colors-orange-dark-500: rgba(255, 68, 5, 1);
  --primitives-colors-orange-dark-600: rgba(230, 46, 5, 1);
  --primitives-colors-orange-dark-700: rgba(188, 27, 6, 1);
  --primitives-colors-orange-dark-800: rgba(151, 24, 12, 1);
  --primitives-colors-orange-dark-900: rgba(119, 26, 13, 1);
  --primitives-colors-orange-dark-950: rgba(87, 19, 10, 1);
  --primitives-colors-pink-100: rgba(252, 231, 246, 1);
  --primitives-colors-pink-200: rgba(252, 206, 238, 1);
  --primitives-colors-pink-25: rgba(254, 246, 251, 1);
  --primitives-colors-pink-300: rgba(250, 167, 224, 1);
  --primitives-colors-pink-400: rgba(246, 112, 199, 1);
  --primitives-colors-pink-50: rgba(253, 242, 250, 1);
  --primitives-colors-pink-500: rgba(238, 70, 188, 1);
  --primitives-colors-pink-600: rgba(221, 37, 144, 1);
  --primitives-colors-pink-700: rgba(193, 21, 116, 1);
  --primitives-colors-pink-800: rgba(158, 22, 95, 1);
  --primitives-colors-pink-900: rgba(133, 22, 81, 1);
  --primitives-colors-pink-950: rgba(78, 13, 48, 1);
  --primitives-colors-purple-100: rgba(235, 233, 254, 1);
  --primitives-colors-purple-200: rgba(217, 214, 254, 1);
  --primitives-colors-purple-25: rgba(250, 250, 255, 1);
  --primitives-colors-purple-300: rgba(189, 180, 254, 1);
  --primitives-colors-purple-400: rgba(155, 138, 251, 1);
  --primitives-colors-purple-50: rgba(244, 243, 255, 1);
  --primitives-colors-purple-500: rgba(122, 90, 248, 1);
  --primitives-colors-purple-600: rgba(105, 56, 239, 1);
  --primitives-colors-purple-700: rgba(89, 37, 220, 1);
  --primitives-colors-purple-800: rgba(74, 31, 184, 1);
  --primitives-colors-purple-900: rgba(62, 28, 150, 1);
  --primitives-colors-purple-950: rgba(39, 17, 95, 1);
  --primitives-colors-ros-100: rgba(255, 228, 232, 1);
  --primitives-colors-ros-200: rgba(254, 205, 214, 1);
  --primitives-colors-ros-25: rgba(255, 245, 246, 1);
  --primitives-colors-ros-300: rgba(254, 163, 180, 1);
  --primitives-colors-ros-400: rgba(253, 111, 142, 1);
  --primitives-colors-ros-50: rgba(255, 241, 243, 1);
  --primitives-colors-ros-500: rgba(246, 61, 104, 1);
  --primitives-colors-ros-600: rgba(227, 27, 84, 1);
  --primitives-colors-ros-700: rgba(192, 16, 72, 1);
  --primitives-colors-ros-800: rgba(161, 16, 67, 1);
  --primitives-colors-ros-900: rgba(137, 18, 62, 1);
  --primitives-colors-ros-950: rgba(81, 11, 36, 1);
  --primitives-colors-success-100: rgba(220, 250, 230, 1);
  --primitives-colors-success-200: rgba(171, 239, 198, 1);
  --primitives-colors-success-25: rgba(246, 254, 249, 1);
  --primitives-colors-success-300: rgba(117, 224, 167, 1);
  --primitives-colors-success-400: rgba(71, 205, 137, 1);
  --primitives-colors-success-50: rgba(236, 253, 243, 1);
  --primitives-colors-success-500: rgba(23, 178, 106, 1);
  --primitives-colors-success-600: rgba(7, 148, 85, 1);
  --primitives-colors-success-700: rgba(6, 118, 71, 1);
  --primitives-colors-success-800: rgba(8, 93, 58, 1);
  --primitives-colors-success-900: rgba(7, 77, 49, 1);
  --primitives-colors-success-950: rgba(5, 51, 33, 1);
  --primitives-colors-teal-100: rgba(204, 251, 239, 1);
  --primitives-colors-teal-200: rgba(153, 246, 224, 1);
  --primitives-colors-teal-25: rgba(246, 254, 252, 1);
  --primitives-colors-teal-300: rgba(95, 233, 208, 1);
  --primitives-colors-teal-400: rgba(46, 211, 183, 1);
  --primitives-colors-teal-50: rgba(240, 253, 249, 1);
  --primitives-colors-teal-500: rgba(21, 183, 158, 1);
  --primitives-colors-teal-600: rgba(14, 147, 132, 1);
  --primitives-colors-teal-700: rgba(16, 117, 105, 1);
  --primitives-colors-teal-800: rgba(18, 93, 86, 1);
  --primitives-colors-teal-900: rgba(19, 78, 72, 1);
  --primitives-colors-teal-950: rgba(10, 41, 38, 1);
  --primitives-colors-violet-100: rgba(236, 233, 254, 1);
  --primitives-colors-violet-200: rgba(221, 214, 254, 1);
  --primitives-colors-violet-25: rgba(251, 250, 255, 1);
  --primitives-colors-violet-300: rgba(195, 181, 253, 1);
  --primitives-colors-violet-400: rgba(164, 138, 251, 1);
  --primitives-colors-violet-50: rgba(245, 243, 255, 1);
  --primitives-colors-violet-500: rgba(135, 91, 247, 1);
  --primitives-colors-violet-600: rgba(120, 57, 238, 1);
  --primitives-colors-violet-700: rgba(105, 39, 218, 1);
  --primitives-colors-violet-800: rgba(87, 32, 183, 1);
  --primitives-colors-violet-900: rgba(73, 28, 150, 1);
  --primitives-colors-violet-950: rgba(46, 18, 94, 1);
  --primitives-colors-warning-100: rgba(254, 240, 199, 1);
  --primitives-colors-warning-200: rgba(254, 223, 137, 1);
  --primitives-colors-warning-25: rgba(255, 252, 245, 1);
  --primitives-colors-warning-300: rgba(254, 200, 75, 1);
  --primitives-colors-warning-400: rgba(253, 176, 34, 1);
  --primitives-colors-warning-50: rgba(255, 250, 235, 1);
  --primitives-colors-warning-500: rgba(247, 144, 9, 1);
  --primitives-colors-warning-600: rgba(220, 104, 3, 1);
  --primitives-colors-warning-700: rgba(181, 71, 8, 1);
  --primitives-colors-warning-800: rgba(147, 55, 13, 1);
  --primitives-colors-warning-900: rgba(122, 46, 14, 1);
  --primitives-colors-warning-950: rgba(78, 29, 9, 1);
  --primitives-colors-yellow-100: rgba(254, 247, 195, 1);
  --primitives-colors-yellow-200: rgba(254, 238, 149, 1);
  --primitives-colors-yellow-25: rgba(254, 253, 240, 1);
  --primitives-colors-yellow-300: rgba(253, 226, 114, 1);
  --primitives-colors-yellow-400: rgba(250, 197, 21, 1);
  --primitives-colors-yellow-50: rgba(254, 251, 232, 1);
  --primitives-colors-yellow-500: rgba(234, 170, 8, 1);
  --primitives-colors-yellow-600: rgba(202, 133, 4, 1);
  --primitives-colors-yellow-700: rgba(161, 92, 7, 1);
  --primitives-colors-yellow-800: rgba(133, 74, 14, 1);
  --primitives-colors-yellow-900: rgba(113, 59, 18, 1);
  --primitives-colors-yellow-950: rgba(84, 44, 13, 1);
  --primitives-spacing-0-0px: 0px;
  --primitives-spacing-0-0px-duplicate: 0px;
  --primitives-spacing-0-5-2px: 2px;
  --primitives-spacing-1-4px: 4px;
  --primitives-spacing-1-5-6px: 6px;
  --primitives-spacing-10-40px: 40px;
  --primitives-spacing-12-48px: 48px;
  --primitives-spacing-120-480px: 480px;
  --primitives-spacing-140-560px: 560px;
  --primitives-spacing-16-64px: 64px;
  --primitives-spacing-160-640px: 640px;
  --primitives-spacing-180-720px: 720px;
  --primitives-spacing-192-768px: 768px;
  --primitives-spacing-2-8px: 8px;
  --primitives-spacing-20-80px: 80px;
  --primitives-spacing-24-96px: 96px;
  --primitives-spacing-256-1-024px: 1024px;
  --primitives-spacing-3-12px: 12px;
  --primitives-spacing-32-128px: 128px;
  --primitives-spacing-320-1-280px: 1280px;
  --primitives-spacing-360-1-440px: 1440px;
  --primitives-spacing-4-16px: 16px;
  --primitives-spacing-40-160px: 160px;
  --primitives-spacing-400-1-600px: 1600px;
  --primitives-spacing-48-192px: 192px;
  --primitives-spacing-480-1-920px: 1920px;
  --primitives-spacing-5-20px: 20px;
  --primitives-spacing-56-224px: 224px;
  --primitives-spacing-6-24px: 24px;
  --primitives-spacing-64-256px: 256px;
  --primitives-spacing-8-32px: 32px;
  --primitives-spacing-80-320px: 320px;
  --primitives-spacing-96-384px: 384px;
  --primitives-weight-weight-2xs: 0.75px;
  --primitives-weight-weight-sm: 1.25px;
  --primitives-weight-weight-xs: 1px;
  --shadows-stack-ring-xs: 0px 0px 0px 1.5px rgba(255, 255, 255, 1);
  --text-xs-regular-font-family: "Inter", Helvetica;
  --text-xs-regular-font-size: 12px;
  --text-xs-regular-font-style: normal;
  --text-xs-regular-font-weight: 400;
  --text-xs-regular-letter-spacing: 0px;
  --text-xs-regular-line-height: 18px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-1-color-modes-mode="light-mode">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-1-color-modes-mode="light-mode"] {
  --1-color-modes-colors-border-border-secondary: var(
    --primitives-colors-gray-light-mode-200-duplicate
  );
}

[data-1-color-modes-mode="dark-mode"] {
  --1-color-modes-colors-border-border-secondary: var(
    --primitives-colors-gray-dark-mode-800-duplicate
  );
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
